<html>
<head>
    <title>Full Cycle by Bruno Henrique</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% people.forEach(function(person){ %>
            <li><%= person.name %></li>
        <% }); %>
    </ul>
</body>
</html>